[Unit]
Description=Phoenix Code Scraper service.

[Service]
ExecStart=/ArmMlsScraper/CodeScraper/PhoenixScraper.py
Restart=always

[Install]
WantedBy=multi-user.target
