[Unit]
Description=Phoenix Code Scraper service.

[Service]
Type=simple
ExecStart=/ArmMlsScraper/mlsVenv/bin/python /ArmMlsScraper/CodeScraper/PhoenixScraper.py
Environment="PATH=/ArmMlsScraper/mlsVenv/bin"
Restart=always

[Install]
WantedBy=multi-user.target
